<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleUser.css">
    <title>LogOut</title>
</head>
<body>
    <div>
        <a href="/Tienda">
            <button style="color: red; border: 4px solid red;">SI, Cerrar session</button>
        </a>
        <a href="/Tienda/views/user/userInfo.php">
            <button style="color: red; border: 4px solid red;">Cancelar</button>
        </a>
    </div>
</body>
</html>